@import url('https://fonts.googleapis.com/css?family=Cantarell');

.App {
  text-align: center;
  background:#DCDCDC;
  font-family: 'Cantarell', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navAndCarousel{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.newsOptions{
  margin-left: 60px;
  margin-bottom: 60px;
  margin-right: 60px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.newsCard{
  margin-left: 5%;
  width: 50%;
  margin-bottom: 10%;
  border-bottom: 5px, solid, black;
}

.newsOptions p {
  font-size: 30px;
}


.custom-carousel-item img {
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
  height: 100%;
  width: 300px;
}

.div-img-carousel{
  height: 450px;
  background: rgb(95, 100, 95);
}


.text-carousel{
  background: rgba(0, 0, 0, 0.527);
  color: #fff;
  font-weight: 100;
  text-align: center;
  width: 100%;
  line-height: 1;
}

.preview-text {
  font-size: 30px
}

@media only screen and (max-width: 600px) {
  .newsCard{
    margin-left: 5%;
    width: 90%;
  }

  .newsOptions p {
    font-size: 20px;
  }

  .preview-text {
    font-size: 15px;
  }

  .with-twitter {
    display: flex;
    flex-direction: column;
  }

  .card-and-tweets{
    display: flex;
    flex-direction: column;
  }

  .articles-tweets{
    display: flex;
    flex-direction: column;
  }
  
}

.title-news-card {
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px
}

Link {
  text-decoration: none
}

.article-card{
  padding-bottom: 10px;
}

.article-card Link{
  color: white;
  text-decoration: none
}

Link :hover {
  color: white;
}

.weather-widget {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}

.with-twitter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-and-tweets{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 10%;
}

.tweets-positioning {
  position: fixed;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  margin-bottom: 90px;
}

.navbar-styles{
  background: #DC3545;
  color: white;
  position: fixed-top;
}

.navbar-styles img {
  width: 80px;
}

.logo-signup-login {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav Link {
  text-decoration: none;
}

.signup-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding-top: 0px;
}

.signup-form input[type=text ]{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.signup-form input[type=password]{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-btn{
  border-radius: 4px;
  background: #DC3545;
  color: white;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100px;
  height: 40px
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.styles-login-form{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 200px;
  justify-content: space-between;
  margin-bottom: 80px;
  padding: 12px 20px;
}

.styles-login-form input[type=text ]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.styles-login-form input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.logout-btn{
  border-radius: 6px;
}

.newsCardLocal {
  margin-left: 5%;
  width: 50%;
  position: absolute;
  bottom: 150px;
}

.articles-tweets{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

