@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.App {
  text-align: center;
  background:#DCDCDC;
  font-family: 'Special Elite', cursive;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navAndCarousel{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.carousel-item > img { 
  width: 70%;
}

.newsOptions{
  margin: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.newsCard{
  margin-left: 5%;
  width: 50%;
  margin-bottom: 10%;
}

.newsOptions p {
  font-size: 30px;
}


.custom-carousel-item img {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

.div-img-carousel{
  height: 400px;
}

#carousel-img{
  background-size: cover;
  background-repeat: no-repeat;
}

.text-carousel{
  background: rgba(0, 0, 0, 0.527);
  color: #fff;
  font-weight: 100;
  text-align: center;
  width: 100%;
  line-height: 1;
}

.preview-text {
  font-size: 30px
}

@media only screen and (max-width: 600px) {
  .newsCard{
    margin-left: 5%;
    width: 90%;
  }

  .newsOptions p {
    font-size: 20px;
  }

  .preview-text {
    font-size: 15px;
  }
}